{% if bmi is not none and bmi is string == false %}
  <div class="mt-4">
    <h5>BMI Classification</h5>
    <div style="
      position: relative;
      height: 30px;
      width: 100%;
      max-width: 500px;
      border-radius: 5px;
      background: linear-gradient(to right,
        #2196F3 0%,        /* Underweight */
        #2196F3 37%,
        #4CAF50 37%,       /* Normal */
        #4CAF50 48.9%,
        #FFC107 50%,       /* Overweight */
        #FFC107 59.9%,
        #F44336 60%,       /* Obeseity class I */
        #F44336 69.9%,
        #9c2921 70%,       /* Obeseity class II */
        #9c2921 79.9%,
        #52120d 80%,       /* Obeseity class III */
        #52120d 100%);
    ">
      <div style="
        position: absolute;
        left: calc(min(max({{ bmi }}, 0), 50) * 2%);
        transform: translateX(-50%);
        top: -10px;
        width: 3px;
        height: 50px;
        background: black;
      "></div>
    </div>
    <div style="position: relative; max-width: 500px; height: 40px; margin-top: 1rem;">
      <span style="position: absolute; left: 18.5%; transform: translateX(-50%) rotate(-25deg); font-size: 0.8rem;">Underweight</span>
      <span style="position: absolute; left: 43%; transform: translateX(-50%) rotate(-25deg); font-size: 0.8rem;">Normal</span>
      <span style="position: absolute; left: 55%; transform: translateX(-50%) rotate(-25deg); font-size: 0.8rem;">Overweight</span>
      <span style="position: absolute; left: 65%; transform: translateX(-50%) rotate(-25deg); font-size: 0.8rem;">Obesity I</span>
      <span style="position: absolute; left: 75%; transform: translateX(-50%) rotate(-25deg); font-size: 0.8rem;">Obesity II</span>
      <span style="position: absolute; left: 90%; transform: translateX(-50%) rotate(-25deg); font-size: 0.8rem; white-space: nowrap;">Obesity III</span>
    </div>
    
  </div>
{% elif bmi is string %}
  <div class="alert alert-danger mt-4">
    {{ bmi }}
  </div>
{% endif %}
